@font-face {
    font-family: 'font1';
    src: url('/font/Louis\ George\ Cafe\ Light.ttf');
}

body {
    background-color: #446F79;
}
#text {
    background-color: white;
}

#header {
    background-color: #EEEBD3;
    width: 30vw;
    margin: 20% 35%;
    text-align: center;
    color: #010400;
}

h1 {
    font-size: 3vw;
    font-family: 'font1';
    float: auto;
}

#submit_button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    margin-top: 0px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    background-color: #D9BBF9; /* Change this color to suit your design */
    color: white; /* Change this color to suit your design */
}
  
#submit_button:hover {
background-color: #9f5692; /* Darker green on hover */
color: #ffffff;
}

#input-box{
    padding: 10px 20px;
}

input::placeholder{
    font-size: 15px;
    float: left;
    margin-left: 0;
}